/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200;500;700&display=swap');

:root {
    --bg-Header-color: #72B5A4;
    --bg-Header-second-color: #FF7556;
    --bg-body-color: #EAFFFA;
    --bg-card-about-color: #eafffaf3;
    --bg-card-color: whitesmoke;
    --font-title-color: ;
    --font-light-color: whitesmoke;
    --font-second-color: #FF7556;
    --font-principal-family: 'Trispace', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body-color);
}

header {
    color: whitesmoke;
    height: 130px;
    background-color: var(--bg-Header-color);
    display: block;
    font-family: var(--font-principal-family);
}
/* pesquisar antigo
.search{
    border-radius: 10px;
    padding: 10px;
    border: 0.5px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 42px;
}

.search input{
    height: 42px;
    width: 280px;
    min-width: 280px;
}
*/
sub-header {
    align-items: center;
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 35px;
}

nav {
    height: 40px;
    display: flex;
    background-color: var(--bg-Header-second-color);
}

nav ul {
    align-items: center;
    justify-content: space-around;
    display: flex;
    list-style: none;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--font-principal-color);
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    font-family: var(--font-principal-family)
}

.container .title-session {

    font-size: 48px;
    color: var(--font-second-color);
    text-transform: uppercase;
    text-align: center;
}

.container .subTitle-session {
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    margin: 20px 0;

}

.home {
    background-image: url('assets/images/img-scroll-patas.png');
    background-repeat: no-repeat;
    background-position-y: 430px;
    display: flex;
    width: 100%;
    font-family: var(--font-principal-family);
}

.home .col {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.home .col .phone {
    width: 329px;
}


.home .col h1 {
    font-weight: 700;
    font-size: 58px;
    text-transform: uppercase;
    color: var(--font-second-color);
}

.home .col h2 {
    text-transform: capitalize;
    color: var(--font-second-color);
    margin: 50px 0;
    font-size: 32px;
}

.home .col p {
    margin: 35px 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 28px;
}

.servicos {
    background-image: url(assets/images/Background-Services.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 105vh;
}

.servicos .c-carousel {
    width: 100%;
    height: 75vh;
}

.servicos .c-carousel .card {
    border: 2px solid #42B6A7;
    border-radius: 8px;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.637);
    margin: 15px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    max-width: 500px;
    max-height: 480px;
    min-height: 480px;
    background-color: var(--bg-card-color);
}

.servicos .c-carousel .card .card-title {
    font-size: 26px;
    text-transform: uppercase;
    color: var(--font-second-color);
}

.servicos .c-carousel .card .card-img {
    height: 175px;
    width: 250px;
}

.servicos .c-carousel .card .card-content {
    width: 80%;
    font-size: 22px;
    margin: 15px;
}

.arrows {
    margin: 0 2vw;
    position: absolute;
    top: 150%;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.arrow{
   background: none;
   border: none;
}

.arrow i{
   transform: scale(5,5); 
}

.js-carousel--simple-dots {
    display: none;
}

.gallery {
    width: 100%;
    text-align: center;
}

.gallery img {
    width: 250px;
    margin: 10px 10px;
}

span {
    color: var(--bg-Header-second-color);
}

.sobre {
    background-image: url(assets/images/background-Parceiros.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.sobre article {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.sobre article .card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    height: 500px;
    background-color: var(--bg-card-about-color);
    width: 400px;
    border: 0.1px solid rgba(0, 0, 0, 0.274);
    border-radius: 8px;
    text-transform: capitalize;
}

.sobre article .card h1 {
    color: var(--font-second-color);
    text-align: center;
    font-size: 32px;
    margin: 10px 0;
}

.sobre article .card .card-Content {
    width: 75%;
    font-weight: 500;
    color: var(--bg-Header-color);
    font-size: 18px;
    margin: 5% 10%;
}

.searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}


.searchToggle i {
    position: absolute;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.ativar i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.ativar i.pesquisar {
    opacity: 0;
    pointer-events: none;
}


.searchBox {
    position: relative;
}

.searchBox .pesquisar-botao {

    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.ativar ~ .pesquisar-botao {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.pesquisar-botao::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: white;
    transform: rotate(-45deg);
    z-index: -1;
}

.pesquisar-botao input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 400;
    color: #FF7556;
    background-color: azure;
}

.pesquisar-botao i {
    position: absolute;
    color: #FF7556;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}