* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
}

body {
    background-color: #EAFFFA;
}

.logo {
    padding-top: 50px;
    margin-left: 30px;
}

.header {
    background-color: #FF7556;
}


.sub-header {
    background-color: #72B5A4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;

}

.searchToggle i {
    position: absolute;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.ativar i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.ativar i.pesquisar {
    opacity: 0;
    pointer-events: none;
}


.searchBox {
    position: relative;
}

.searchBox .pesquisar-botao {

    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.ativar~.pesquisar-botao {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.pesquisar-botao::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: white;
    transform: rotate(-45deg);
    z-index: -1;
}

.pesquisar-botao input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 400;
    color: #FF7556;
    background-color: azure;
}

.pesquisar-botao i {
    position: absolute;
    color: #FF7556;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

container {
    width: 100vw;
    height: 90vh;
}

.home {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-image: url('/animal Point/assets/images/img-scroll-patas.png');
    background-repeat: no-repeat;
    background-position-y: 390px;
    background-position-x: 50px;
}

.home:nth-child() {
    width: 45%;
}

.home column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 58px;
    color: #FF7556;
    margin-top: 5%;
}

.home h2 {
    color: #FF7556;
    margin-top: 5%;
    font-weight: 500;
    font-size: 50px;
}

.home h3 {
    margin-top: 5%;
    margin-left: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    width: 700px;
}

.servicos {
    margin-top: 10vh;
    background-image: url('/animal Point/assets/images/Background-Services.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

.servicos h1, .servicos h2{
    margin-top: 3%;
    color: #FF7556;
    font-size: 2rem;
    text-transform: uppercase;     
    font-weight: 1000;       
}
column{
    margin-top: 5%;
}
column ul{
    text-align: left;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

column ul li{   
    list-style: none;
    border: 1px solid #FF7556;
    height: 10vh;
    font-size: 40px;
    border-radius: 15px 15px 0px 0px;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    padding: 10px;
    background-color: #EAFFFA;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 3px;

}

column ul li:hover{
    background-color: #72B5A4;
    color: whitesmoke;
}
.content{   
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.content .card-group{
    display: flex;
    flex-direction: row;
}

.servicos .content .card-group{
    width: 50vw;
}

card{
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 2px solid #42B6A7;
    margin-bottom: 5%;
    box-shadow: 5px 5px 50px;
}
card img{
    margin-top: 5%;
}
card p{
    margin: 5% 10%;
    font-size: 1.3rem;
    width: 80%;
    text-align: justify;
    font-weight: 600;
}
.carrosel {
    display: flex;
}